@{
    ViewBag.Title = "Index";
}


&nbsp;

<iframe src="~/SliderIndex.html" style="width: 960px; height: 400px; max-width: 100%;overflow:hidden;border:none;padding:0;margin:0 auto;display:block;" marginheight="0" marginwidth="0"></iframe>
&nbsp;
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">About Portal</h5>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

        <p class="mb-1">
            This is portal is all about a link or url with the community which benifits both link owner and community.
            You can also share some commercial links that you want.Like offers,discounts,etc.
            Dou u have a link to share then just <b>Register Here</b> and share it.
        </p>
    </a>
</div>